@import '../node_modules/@angular/cdk/overlay-prebuilt.css';
@import './assets/Content/Styles/text.less';
@import './assets/Content/Styles/colors.less';
@import './assets/Content/Styles/shadows.less';
@import './assets/Content/Styles/modals.less';
@import './assets/Content/Styles/glyphs.less';
@import './assets/Content/Styles/grid.less';
@import './assets/Content/Styles/buttons.less';
@import './assets/Content/Styles/site.less';
@import './assets/Content/Styles/editableField.less';
@import './assets/Content/Styles/textField.less';


/* .error_updated
{
    color:#fff;
    font-size: 13px;
}



.ad-themed ::placeholder {
    color: white;
  }
  

.editable-field-input {
    width: calc(100% + 15px);
    //margin-top: 5px;
    margin-top: -16px;
    margin-left: -16px !important;
    border: none;
    padding: 18px 25px 21px 39px;
    font-size: 28px;
    outline: none;
    vertical-align: middle;
    border-radius: 3px;
  
    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
  */